[submodule "learning-cxx"]
	path = learning-cxx
	url = git@github.com:abasi20/learning-cxx.git
[submodule "TinyInfiniTensor"]
	path = TinyInfiniTensor
	url = git@github.com:abasi20/TinyInfiniTensor.git
